
Focus/Assembly-CSharp-Editor.csproj
Focus/Assembly-CSharp-Editor.csproj
Focus/Assembly-CSharp.csproj
Focus/Focus.sln
Focus/Library/ArtifactDB
Focus/Library/Artifacts/0c/0c1ce059a3ba1ed0e33a88abc319988e
Focus/Library/Artifacts/ae/aef8ce1e15e000da287d6021610cedca
Focus/Library/EditorInstance.json
Focus/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Focus/Library/ScriptAssemblies/Assembly-CSharp-Editor.pdb
Focus/Library/ScriptAssemblies/Assembly-CSharp.dll
Focus/Library/ScriptAssemblies/Assembly-CSharp.pdb
Focus/Library/ShaderCache/EditorEncounteredVariants
Focus/Library/shadercompiler-UnityShaderCompiler.exe0.log
Focus/Library/SourceAssetDB
Focus/Temp/UnityLockfile
Focus/Temp/UnityTempFile-ff61e804639719243a32e1c37d3d4ffa
Focus/Temp/UnityTempFile-2f13a293fcf90634cbb0db3bed81ee12
Focus/Library/ScriptAssemblies/Assembly-CSharp.dll
Focus/Library/ScriptAssemblies/Assembly-CSharp-Editor.pdb
